{% extends "base.html" %}
{% block title %} Servers {% endblock %}
{% block body %}

{% set messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="alert alert-success alert-dismissable">
    {% for category, message in messages %}
        <div>{{ message|safe }}</div>
    {% endfor %}
    </div>
{% endif %}


<div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
    </div>


<div class="col-md-4 col-xs-12">

    <div class="widget stacked">
        <div class="widget-header">
              <i class="icon-pencil"></i>
              <h3>Server Types</h3>
            </div> <!-- /.widget-header -->

        <div class="widget-content">
            <div class="panel-group accordion">

                {% for server_type in server_types %}

                <!--<div class="panel panel-default open">-->
                {% if active_type == server_type %}
                <div class="panel panel-default open">
                {% else %}
                <div class="panel panel-default">
                {% endif %}

                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a class="accordion-toggle" name="aServType_{{ server_type }}" data-toggle="collapse" data-parent=".accordion" href="#collapse_{{ server_type }}">
                        {{ server_type }}
                      </a>
                    </h3>
                  </div>

                  <!--<div id="collapse_{{ server_type }}" class="panel-collapse collapse in">-->
                  {% if active_type == server_type %}
                  <div id="collapse_{{ server_type }}" class="panel-collapse collapse in">
                  {% else %}
                  <div id="collapse_{{ server_type }}" class="panel-collapse collapse">
                  {% endif %}

                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;" class2="server_list">
                            <!--<li class="active"><a href="javascript:;">Profile</a></li>-->

                            <li>
                                <button type="button" id="btAdd_{{ server_type }}" name="btAdd_{{ server_type }}" class="btn btn-success btn-sm" style="width:100%;" data-toggle="modal" href="#bigModal">
                                <span class="icon-plus"></span> Add New Server
                                </button>
                                <input type="hidden" name="hf_{{ server_type }}" value="{{ server_type }}" />
                            </li>

                            {% for server in grouped_server[server_type] %}
                            {% if active_name == server.server_name %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="javascript:;" class="aServList" sid="{{ server._id }}">
                                {{ server.server_name }}
                                <span class="pull-right">
                                    <button type="button" id="btDel_{{ server_name }}" name="btDel_{{ server_name }}" class="btn btn-danger btn-xs msgbox-confirm" sid="{{ server._id }}" snm="{{ server.server_name }}">
                                    <span class="icon-remove"></span>
                                    </button>
                                </span>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                  </div>
                </div>
                {% endfor %}

            </div>

        </div>
    </div>

</div> <!-- /span6 -->


<div class="col-md-8">

    <div class="widget stacked">
        <div class="widget-content">

          <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">General</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade active in" id="home">

                <form id="server-form" action="/servers/save" method="post" role="form" class="form-horizontal">

                    <input type="hidden" id="hf_selType" name="hf_selType" value="{{ active_type }}" />
                    <input type="hidden" id="hf_selID" name="hf_selID" />

                    <div class="form-group">
                        <label class="col-md-3">Server Name:</label>
                        <div class="col-md-9">
                        <input type="text" id="tServerName" name="tServerName" class="form-control" />
                        </div>
                    </div> <!-- /.form-group -->
                    <div class="form-group">
                        <label class="col-md-3">Type:</label>
                        <div class="col-md-9">
                        <input type="text" id="tServerType" name="tServerType" class="form-control" readonly />
                        </div>
                    </div> <!-- /.form-group -->
                    <div class="form-group">
                        <label class="col-md-3">IP Address:</label>
                        <div class="col-md-9">
                        <input type="text" id="tIPAddress" name="tIPAddress" class="form-control" />
                        </div>
                    </div> <!-- /.form-group -->
                    <div class="form-group" id="dvSharedSecret">
                        <label class="col-md-3">Shared Secret:</label>
                        <div class="col-md-9">
                        <input type="text" id="tSharedSecret" name="tIPAddress" class="form-control" />
                        </div>
                    </div> <!-- /.form-group -->
                    <div class="form-group" id="dvPort">
                        <label class="col-md-3">Port:</label>
                        <div class="col-md-9">
                        <input type="text" id="tPort" name="tPort" class="form-control" />
                        </div>
                    </div> <!-- /.form-group -->
                    <div class="form-group" id="dvPrincipal">
                        <label class="col-md-3">Principal:</label>
                        <div class="col-md-9">
                        <input type="text" id="tPrincipal" name="tPrincipal" class="form-control" />
                        </div>
                    </div> <!-- /.form-group -->
                    <div class="form-group" id="dvCredentials">
                        <label class="col-md-3">Credentials:</label>
                        <div class="col-md-9">
                        <input type="text" id="tCredentials" name="tCredentials" class="form-control" />
                        </div>
                    </div> <!-- /.form-group -->
                    <div class="form-group">
                        <label class="col-md-3">Timeout (in seconds):</label>
                        <div class="col-md-9">
                        <input type="text" id="tTimeout" name="tTimeout" class="form-control" />
                        </div>
                    </div> <!-- /.form-group -->

                    <div class="form-group">
                        <label class="col-md-3">Advanced Configuration:</label>
                        <div class="col-md-9">
                        <textarea id="tAdvConfig" name="tAdvConfig" class="form-control" rows="6"></textarea>
                        </div>
                    </div> <!-- /.form-group -->


                    <div class="form-group">
                        <div class="col-md-12" style="text-align: right;">
                        <button type="submit" class="btn btn-primary" id="btEdit" name="btEdit" style="width: 80px;">Save</button>
                        <!--<button type="button" class="btn btn-default" id="btCancelMain" name="btCancelMain" style="width: 80px;">Reset</button>-->
                        </div>
                    </div> <!-- /.form-group -->

                </form> <!-- server-form-->

            </div>
          </div>

        </div> <!-- /widget-content -->
    </div> <!-- /widget -->

</div> <!-- /span6 -->



<!--Add new server modal-->
<div id="bigModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <form id="add-form" action="/servers/add" method="post">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" >Server Type: <span id="new_server_title"></span></h4>
          </div>
          <div class="modal-body">
              <div class="alert alert-danger alert-dismissable">
                <div id="msg"></div>
                </div>

              New Server Name:
              <input type="text" id="txtNewServer" name="txtNewServer" class="form-control input-md" />
              <input type="hidden" id="hfNewServerType" name="hfNewServerType" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" id="btCancel" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="btCreateNew">Create Server</button>
          </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div> <!-- /.modal -->



<script>
$(function() {
    $(".alert").hide();
    $("#home *").hide();

    //-- Server Type > click
    $("a[name^='aServType_']").click(function() {
        $("#hf_selType").val($(this).text().trim());
    });

    //-- Add Server button > click
    $("button[name^='btAdd_']").click(function() {
        var ls_server_type = $(this).next().val();
        $("#new_server_title").text(ls_server_type);
        $("#hfNewServerType").val(ls_server_type);
        $("#txtNewServer").val('');
        $("#txtNewServer").focus();
    });


    //-- Cancel new server button > click
    $("#btCancel").click(function() {
        $(".alert").hide();
    });


    $("#txtNewServer").keypress(function(e) {
        if(e.which == 13)
            return submit_form();
    });

    $("#add-form").submit(function(event) {
        //event.preventDefault();
        return submit_form();
    });


    //-- Delete Server button > click
    $("button[name^='btDel_']").click(function() {
        //alert($(this).attr('sid'));
        server_id = $(this).attr('sid');
        $.msgbox("This will delete " + $(this).attr('snm') + " server, Proceed?", {
            type: "confirm",
            buttons : [
                {type: "submit", value: "Yes"},
                {type: "submit", value: "No"},
            ]
        }, function(result) {
            if (result == 'Yes') {
                $('#server-form').attr('action', '/servers/delete/'+server_id);
                $('#server-form').submit();
            }
        });
    });


    //-- Server Name > click
    $(".aServList").click(function() {
        $("ul.nav-pills > li").removeClass("active");
        $(this).parent().addClass("active");

        // load server details
        $("#home *").hide();
        server_id = $(this).attr('sid');
        $("#hf_selID").val(server_id);

        $.get('/servers/load/'+server_id, function(data) {
            srvr = jQuery.parseJSON(data);
            $("#tServerName").val(srvr.server_name);
            $("#tServerType").val(srvr.type);
            $("#tIPAddress").val(srvr.ip_address);
            $("#tSharedSecret").val(srvr.shared_secret);
            $("#tPort").val(srvr.port);
            $("#tPrincipal").val(srvr.principal);
            $("#tCredentials").val(srvr.credentials);
            $("#tTimeout").val(srvr.timeout);
            $("#tAdvConfig").val(srvr.advanced_config);


            $("#dvSharedSecret").hide();
            $("#dvPort").hide();
            $("#dvPrincipal").hide();
            $("#dvCredentials").hide();

            if (srvr.type == 'AAA') {
                $("#dvSharedSecret").show();
            }
            else if ('|SPS|Kenan|Datapower|'.indexOf('|'+srvr.type+'|') > 0) {
                $("#dvPort").show();
            }
            else if ('|SDB|SDB_DBM|BPC|'.indexOf('|'+srvr.type+'|') > 0) {
                $("#dvPort").show();
                $("#dvPrincipal").show();
                $("#dvCredentials").show();
            }

            $("#home *").show();
        });
    });


//    //-- 'Main Form' Cancel > click
//    $("#btCancelMain").click(function() {
//        $("#server-form :text").val('');
//        $("#server-form textarea").val('');
//    });

});

//-- Create new server > submit
function submit_form() {
    if($("#txtNewServer").val().trim() == '') {
        $("#msg").text('Server Name is required.');
        $(".alert").show();
        $("#txtNewServer").focus();
        return false;
    }
    else {
        return true;
    }
}
</script>

{% endblock %}