{% extends "base.html" %}
{% block title %} Servers {% endblock %}
{% block body %}

{% set messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="alert alert-success alert-dismissable">
    {% for category, message in messages %}
        <div>{{ message|safe }}</div>
    {% endfor %}
    </div>
{% endif %}


<div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
    </div>


<div class="col-md-4 col-xs-12">

    <div class="widget stacked">
        <div class="widget-header">
              <i class="icon-pencil"></i>
              <h3>Server Types</h3>
            </div> <!-- /.widget-header -->

        <div class="widget-content">
            <div class="panel-group accordion">

                <input type="hidden" id="selServType" name="selServType" value="{{ active_type }}" />

                {% for server_type in server_types %}

                <!--<div class="panel panel-default open">-->
                {% if active_type == server_type %}
                <div class="panel panel-default open">
                {% else %}
                <div class="panel panel-default">
                {% endif %}

                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a class="accordion-toggle" name="aServType__{{ server_type }}" data-toggle="collapse" data-parent=".accordion" href="#collapse_{{ server_type }}">
                        {{ server_type }}
                      </a>
                    </h3>
                  </div>

                  <!--<div id="collapse_{{ server_type }}" class="panel-collapse collapse in">-->
                  {% if active_type == server_type %}
                  <div id="collapse_{{ server_type }}" class="panel-collapse collapse in">
                  {% else %}
                  <div id="collapse_{{ server_type }}" class="panel-collapse collapse">
                  {% endif %}

                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;" class2="server_list">
                            <!--<li class="active"><a href="javascript:;">Profile</a></li>-->

                            <li>
                                <button type="button" id="btAdd_{{ server_type }}" name="btAdd_{{ server_type }}" class="btn btn-success btn-sm" style="width:100%;" data-toggle="modal" href="#bigModal">
                                <span class="icon-plus"></span> Add New Server
                                </button>
                                <input type="hidden" name="hf_{{ server_type }}" value="{{ server_type }}" />
                            </li>

                            {% for server in grouped_server[server_type] %}
                            <li>
                                <a href="javascript:;" class="aServList">
                                {{ server.server_name }}
                                <span class="pull-right">
                                    <button type="button" id="btDel_{{ server_name }}" name="btDel_{{ server_name }}" class="btn btn-danger btn-xs msgbox-confirm" sid="{{ server._id }}">
                                    <span class="icon-remove"></span>
                                    </button>
                                </span>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                  </div>
                </div>
                {% endfor %}

            </div>

        </div>
    </div>

</div> <!-- /span6 -->


<div class="col-md-8">

    <div class="widget stacked">
        <div class="widget-content">

            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">General</a></li>
                <!--<li class=""><a href="#profile" data-toggle="tab">Profile</a></li>-->
                <!--<li class=""><a href="#profile2" data-toggle="tab">Profile 2</a></li>-->
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade active in" id="home">
                  <strong>Home</strong>
                  <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                </div>
                <!--<div class="tab-pane fade" id="profile">-->
                  <!--<strong>Profile</strong>-->
                  <!--<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>-->
                <!--</div>-->
                <!--<div class="tab-pane fade" id="profile2">-->
                  <!--<strong>Profile</strong>-->
                  <!--<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>-->
                <!--</div>-->
              </div>

              <button class="login-action btn btn-primary">Save</button>

        </div> <!-- /widget-content -->
    </div> <!-- /widget -->

</div> <!-- /span6 -->


<!--Add new server modal-->
<div id="bigModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <form id="add-form" action="/servers/add" method="post">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" >Server Type: <span id="new_server_title"></span></h4>
          </div>
          <div class="modal-body">
              <div class="alert alert-danger alert-dismissable">
                <div id="msg"></div>
                </div>

              New Server Name:
              <input type="text" id="txtNewServer" name="txtNewServer" class="form-control input-md" />
              <input type="hidden" id="hfNewServerType" name="hfNewServerType" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" id="btCancel" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="btCreateNew">Create Server</button>
          </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div> <!-- /.modal -->



<script>
$(function() {
    $(".alert").hide();

    //
    $("a[name^='aServType_']").click(function() {
        $("selServType").val($(this).text().trim());
    });

    // add server
    $("button[name^='btAdd_']").click(function() {
        var ls_server_type = $(this).next().val();
        $("#new_server_title").text(ls_server_type);
        $("#hfNewServerType").val(ls_server_type);
        $("#txtNewServer").val('');
        $("#txtNewServer").focus();
    });


    // Cancel of 'add server' modal
    $("#btCancel").click(function() {
        $(".alert").hide();
    });


    $("#txtNewServer").keypress(function(e) {
        if(e.which == 13)
            return submit_form();
    });

    $("#add-form").submit(function(event) {
        //event.preventDefault();
        return submit_form();
    });

    $("button[name^='btDel_']").click(function() {
        alert($(this).attr('sid'));
    });


    $(".aServList").click(function() {
        $("ul.nav > li").removeClass("active");
        $(this).parent().addClass("active");
    });

});

function submit_form() {
    if($("#txtNewServer").val().trim() == '') {
        $("#msg").text('Server Name is required.');
        $(".alert").show();
        $("#txtNewServer").focus()
        return false;
    }
    else {
        return true;
    }
}
</script>

{% endblock %}