{% extends "base.html" %}
{% block title %} Servers {% endblock %}
{% block body %}


<link href="{{ url_for('static', filename='css/codemirror.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/libs/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='js/mode/xml.js') }}"></script>

<style type="text/css">
    .CodeMirror {
    	border: 1px solid #CCCCCC;
		border-radius: 4px 4px 4px 4px;
		height: 320px;
		width: 100%;
	}
	.CodeMirror-scroll {
		overflow-y: hidden;
		overflow-x: auto;
	}
</style>



{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-dismissable {% if category == 'error' %}alert-danger{% else %}alert-success{% endif %}" id="main_alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <div>{{ message|safe }}</div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}



<div class="col-md-4 col-xs-12">

    <div class="widget stacked" id="dvServerList">
        <div class="widget-header">
              <i class="icon-pencil"></i>
              <h3>Server Types</h3>
            </div> <!-- /.widget-header -->

        <div class="widget-content">
            <div class="panel-group accordion">

                {% for server_type in server_types %}
                <div class="panel panel-default {% if active_type == server_type %}open{% else %} {% endif %}">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a class="accordion-toggle" name="aServType_{{ server_type }}" data-toggle="collapse" data-parent=".accordion" href="#collapse_{{ server_type }}">
                        {{ server_type }}
                      </a>
                    </h3>
                  </div>

                  <!--<div id="collapse_{{ server_type }}" class="panel-collapse collapse in">-->
                  <div id="collapse_{{ server_type }}" class="panel-collapse collapse {% if active_type == server_type %}in{% else %} {% endif %}">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;" class2="server_list">
                            <!--<li class="active"><a href="javascript:;">Profile</a></li>-->

                            <li>
                                <button type="button" id="btAdd_{{ server_type }}" name="btAdd_{{ server_type }}" class="btn btn-primary btn-sm" style="width:100%;" data-toggle="modal" href="#bigModal">
                                <span class="icon-plus"></span> Add New Server
                                </button>
                                <input type="hidden" name="hf_{{ server_type }}" value="{{ server_type }}" />
                            </li>

                            {% for server in grouped_server[server_type] %}
                            <li {% if active_name == server.server_name %}class="active" {% else %} {% endif %}>
                                <a href="javascript:;" class="aServList" sid="{{ server._id }}" snm="{{ server.server_name }}">
                                {{ server.server_name }}
                                <span class="pull-right">
                                    <button type="button" id="btDel_{{ server_name }}" name="btDel_{{ server_name }}" class="btn btn-danger btn-xs msgbox-confirm" sid="{{ server._id }}" snm="{{ server.server_name }}">
                                    <span class="icon-remove"></span>
                                    </button>
                                </span>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                  </div>
                </div>
                {% endfor %}

            </div>

        </div>
    </div>

</div> <!-- /span6 -->


<div class="col-md-8">

    <div class="widget stacked">
        <div class="widget-content">

          <form id="server-form" action="/servers/save" method="post" role="form" class="">

              <input type="hidden" id="hf_selType" name="hf_selType" value="{{ active_type }}" />
              <input type="hidden" id="hf_selName" name="hf_selName" value="{{ active_name }}" />
              <input type="hidden" id="hf_selID" name="hf_selID" value="{{ server_dtls._id }}" />


              <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">General</a></li>
                <li class=""><a href="#tbAdvConfig" data-toggle="tab">Advanced Configuration</a></li>
              </ul>
              <div class="tab-content">

                <div class="tab-pane fade active in form-horizontal" id="home">

                    <div class="form-group">
                        <label class="col-md-3">Server Name:</label>
                        <div class="col-md-9">
                        <input type="text" id="tServerName" name="tServerName" class="form-control" value="{{ server_dtls.server_name }}" />
                        </div>
                    </div> <!-- /.form-group -->
                    <div class="form-group">
                        <label class="col-md-3">Type:</label>
                        <div class="col-md-9">
                        <input type="text" id="tServerType" name="tServerType" class="form-control" readonly value="{{ server_dtls.type }}" />
                        </div>
                    </div> <!-- /.form-group -->
                    <div class="form-group">
                        <label class="col-md-3">IP Address:</label>
                        <div class="col-md-9">
                        <input type="text" id="tIPAddress" name="tIPAddress" class="form-control" value="{{ server_dtls.ip_address }}"  />
                        </div>
                    </div> <!-- /.form-group -->
                    <div class="form-group" id="dvSharedSecret">
                        <label class="col-md-3">Shared Secret:</label>
                        <div class="col-md-9">
                        <input type="text" id="tSharedSecret" name="tSharedSecret" class="form-control" value="{{ server_dtls.shared_secret }}" />
                        </div>
                    </div> <!-- /.form-group -->
                    <div class="form-group" id="dvPort">
                        <label class="col-md-3">Port:</label>
                        <div class="col-md-9">
                        <input type="text" id="tPort" name="tPort" class="form-control" value="{{ server_dtls.port }}" />
                        </div>
                    </div> <!-- /.form-group -->
                    <div class="form-group" id="dvPrincipal">
                        <label class="col-md-3">Principal:</label>
                        <div class="col-md-9">
                        <input type="text" id="tPrincipal" name="tPrincipal" class="form-control" value="{{ server_dtls.principal }}" />
                        </div>
                    </div> <!-- /.form-group -->
                    <div class="form-group" id="dvCredentials">
                        <label class="col-md-3">Credentials:</label>
                        <div class="col-md-9">
                        <input type="text" id="tCredentials" name="tCredentials" class="form-control" value="{{ server_dtls.credentials }}" />
                        </div>
                    </div> <!-- /.form-group -->
                    <div class="form-group">
                        <label class="col-md-3">Timeout (in seconds):</label>
                        <div class="col-md-9">
                        <input type="text" id="tTimeout" name="tTimeout" class="form-control" value="{{ server_dtls.timeout }}" />
                        </div>
                    </div> <!-- /.form-group -->

                </div>

                <div class="tab-pane fade form-horizontal" id="tbAdvConfig">
                    <div class="form-group" style="">
                        <div class="col-md-12">
                            <textarea id="tAdvConfig" name="tAdvConfig" class="form-control" rows="20">{{ server_dtls.advanced_config }}</textarea>
                        </div>
                    </div> <!-- /.form-group -->
                </div>

                <div class="form-group">
                    <div class="col-md-12" style="text-align: right;">
                    <button type="submit" class="btn btn-primary" id="btEdit" name="btEdit" style="width: 80px;">Save</button>
                    <!--<button type="button" class="btn btn-default" id="btCancelMain" name="btCancelMain" style="width: 80px;">Reset</button>-->
                    </div>
                </div> <!-- /.form-group -->

          </div>

          </form> <!-- server-form-->

        </div> <!-- /widget-content -->
    </div> <!-- /widget -->

</div> <!-- /span6 -->



<!--Add new server modal-->
<div id="bigModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <form id="add-form" action="/servers/add" method="post">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" >Server Type: <span id="new_server_title"></span></h4>
          </div>
          <div class="modal-body">
              <div class="alert alert-danger alert-dismissable" id="new_server_alert">
                <div id="msg"></div>
                </div>

              New Server Name:
              <input type="text" id="txtNewServer" name="txtNewServer" class="form-control input-md" />
              <input type="hidden" id="hfNewServerType" name="hfNewServerType" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" id="btCancel" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="btCreateNew">Create Server</button>
          </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div> <!-- /.modal -->



<script>
$(function() {
    $("#new_server_alert").hide();



    if ($("#hf_selName").val() != 'None') {
        toggle_fields($("#tServerType").val());
    }


    //-- Server Type > click
    $("a[name^='aServType_']").click(function() {
        $("#hf_selType").val($(this).text().trim());
    });

    //-- Add Server button > click
    $("button[name^='btAdd_']").click(function() {
        var ls_server_type = $(this).next().val();
        $("#new_server_title").text(ls_server_type);
        $("#hfNewServerType").val(ls_server_type);
        $("#txtNewServer").val('');
        $("#txtNewServer").focus();
    });


    //-- Cancel new server button > click
    $("#btCancel").click(function() {
        $("#new_server_alert").hide();
    });


    $("#txtNewServer").keypress(function(e) {
        if(e.which == 13)
            return submit_form();
    });

    $("#add-form").submit(function(event) {
        //event.preventDefault();
        return submit_form();
    });


    //-- Delete Server button > click
    $("button[name^='btDel_']").click(function() {
        //alert($(this).attr('sid'));
        var server_id = $(this).attr('sid');
        $.msgbox("This will delete <strong>" + $(this).attr('snm') + "</strong>, proceed?", {
            type: "confirm",
            buttons : [
                {type: "submit", value: "Yes"},
                {type: "submit", value: "No"},
            ]
        }, function(result) {
            if (result == 'Yes') {
                $('#server-form').attr('action', '/servers/delete/'+server_id);
                $('#server-form').submit();
            }
        });
    });


    //-- Server Name > click
    $(".aServList").click(function() {
        $("ul.nav-pills > li").removeClass("active");
        $(this).parent().addClass("active");

        // load server details
        var server_id = $(this).attr('sid');
        $("#hf_selID").val(server_id);

        $.get('/servers/load/'+server_id, function(data) {
            var srvr = jQuery.parseJSON(data);
            $("#tServerName").val(srvr.server_name);
            $("#tServerType").val(srvr.type);
            $("#tIPAddress").val(srvr.ip_address);
            $("#tSharedSecret").val(srvr.shared_secret);
            $("#tPort").val(srvr.port);
            $("#tPrincipal").val(srvr.principal);
            $("#tCredentials").val(srvr.credentials);
            $("#tTimeout").val(srvr.timeout);
            $("#tAdvConfig").val(srvr.advanced_config);
            editor.setValue(srvr.advanced_config);

            toggle_fields(srvr.type);
        });
    });



    //-- clears alert notification on mouse clicks
    $("#server-form").click(function() { $("#main_alert").hide(); });
    $("#dvServerList").click(function() { $("#main_alert").hide(); });


    //-- 2nd tab click
//    $("*").click(function() {
//        setTimeout(function(){editor.refresh();}, 0);
//    });

});

//-- Create new server > submit
function submit_form() {
    if($("#txtNewServer").val().trim() == '') {
        $("#msg").text('Server Name is required.');
        $("#new_server_alert").show();
        $("#txtNewServer").focus();
        return false;
    }
    else {
        return true;
    }
}


function toggle_fields(srvr_type) {
    $("#dvSharedSecret").hide();
    $("#dvPort").hide();
    $("#dvPrincipal").hide();
    $("#dvCredentials").hide();

    if (srvr_type == 'AAA') {
        $("#dvSharedSecret").show();
    }
    else if ('|SPS|Kenan|Datapower|'.indexOf('|'+srvr_type+'|') > 0) {
        $("#dvPort").show();
    }
    else if ('|SDB|SDB_DBM|BPC|'.indexOf('|'+srvr_type+'|') > 0) {
        $("#dvPort").show();
        $("#dvPrincipal").show();
        $("#dvCredentials").show();
    }
}


//-- textarea codemirror
var editor = CodeMirror.fromTextArea(document.getElementById("tAdvConfig"), {
    mode: "application/xml",
    styleActiveLine: true,
    lineNumbers: true,
    lineWrapping: true
});

</script>

{% endblock %}