{% extends "base.html" %}
{% block title %} {{ viewbag['module_name']|capitalize }} {% endblock %}
{% block body %}


<div class="col-md-4 col-xs-12">

    <div class="widget stacked" id="dv_left_menu">
        <div class="widget-header">
              <i class="icon-pencil"></i>
              <h3>Networks</h3>
        </div> <!-- /.widget-header -->

        <div class="widget-content">
            <div class="panel-group accordion" style="margin-top: -10px;">

                <button type="button" id="btAdd_{{ network_name }}" name="btAdd_{{ network_name }}" class="btn btn-primary btn-sm" style="width:100%;" data-toggle="modal" href="#bigModal">
                <span class="icon-plus"></span> Add New Network
                </button>
                <div style="height: 5px;"></div>


                {% set networks_ctr = 1 %}
                {% for network in networks|sort(attribute='network_name') %}
                <!--<div class="panel panel-default open">-->
                <!--<div class="panel panel-default">-->
                <div class="panel panel-default {% if viewbag['selected_network']|string() == network['_id']|string() %} open {% endif %}">

                    <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapse_{{ networks_ctr }}" attrkey="list_network" attrval="{{ network['_id'] }}">
                        {{ network['network_name'] }}

                        <span class="pull-right">
                            <button type="button" class="btn btn-danger btn-xs msgbox-confirm" attrkey="bt_del_network" attrval="{{ network['_id'] }}" attrname="{{ network['network_name'] }}">
                            <span class="icon-remove"></span>
                            </button>
                        </span>
                      </a>
                    </h4>
                    </div>

                </div>
                    {% set networks_ctr = networks_ctr + 1 %}
                {% endfor %}

            </div>
        </div>
    </div>

</div> <!-- /span6 -->


<div class="col-md-8">

    <div class="widget stacked">
        <div class="widget-content">

          <form id="server-form" action="/networks/save" method="post" role="form" class="">



          </form>

        </div> <!-- /widget-content -->
    </div> <!-- /widget -->

</div> <!-- /span6 -->



<!--Add new gateway modal-->
<div id="bigModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <form id="add-form" action="/networks/add" method="post">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" >New Network</h4>
      </div>
      <div class="modal-body">
          <div class="alert alert-danger alert-dismissable" id="new_alert">
            <div id="msg"></div>
            </div>
          <input type="text" id="txt_new_network" name="txt_new_gateway" class="form-control input-md" placeholder="Network Name" />
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="btCreateNew">Create Network</button>
        <button type="button" class="btn btn-default" id="btCancel" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div> <!-- /.modal -->



<script>
$(function() {
    //-- Hides new_entry alert
    $("#new_alert").hide();

    //-- new entries button > click
    $("#btCancel").click(function() {
        $("#new_alert").hide();
    });
    $("#txt_new_network").keypress(function(e) {
        if(e.which == 13)
            return submit_form();
    });
    $("#add-form").submit(function(event) {
        //event.preventDefault();
        return submit_form();
    });
});

//-- Create new network > submit
function submit_form() {
    if($("#txt_new_network").val().trim() == '') {
        $("#msg").text('Network is required.');
        $("#new_alert").show();
        $(this).focus();
        return false;
    }
    else {
        return true;
    }
}
</script>

{% endblock %}