{% extends "base.html" %}
{% block body %}

<div class="col-md-12">
			
			<div class="error-container">
				<h1>Oops!</h1>
				
				<h2>Page Not Found</h2>
				
				<div class="error-details">
					Sorry, an error has occured, Requested page not found!
					
				</div> <!-- /error-details -->

				<!--<div class="error-actions">-->
					<!--<a href="{{ url_for('user.login_form') }}" class="btn btn-primary btn-lg">-->
						<!--<i class="icon-chevron-left"></i>-->
						<!--&nbsp;-->
						<!--Back to Login Page-->
					<!--</a>-->
				<!--</div> &lt;!&ndash; /error-actions &ndash;&gt;-->
							
			</div> <!-- /error-container -->			
			
		</div> <!-- /span12 -->

{% endblock %}